<div id="user-info" class="well">
  <div class="text-center">
    <%= render 'shared/avatar', user: @user %><br>
    <h5><%= link_to @user.name, @user %></h5>
  </div>
  <h5>
    <%= fa_icon 'book' %>
    <%= pluralize(@user.posts_count, 'post') %>
  </h5>
</div>